In [1]:
%reload_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import re
import sys
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 250

In [2]:
sys.path.append('../')
import read_player_stats
import training_data
import game_by_game

In [4]:
FD_salaries = pd.read_csv('../salaries/FD/FanDuel-NFL-2015-09-27-13067-players-list.csv')

In [5]:
FD_salaries['Name'] = FD_salaries['First Name'] + FD_salaries['Last Name']
FD_salaries['Name'] = FD_salaries['Name'].str.replace('[^a-z]', '',flags=re.IGNORECASE)
FD_salaries.head()

,Id,Position,First Name,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Unnamed: 12,Unnamed: 13,Name
0,11612,WR,Antonio,Brown,27.9,2,9300,PIT@STL,PIT,STL,NaN,NaN,NaN,NaN,AntonioBrown
1,6894,QB,Aaron,Rodgers,21.7,2,9100,KC@GB,GB,KC,NaN,NaN,NaN,NaN,AaronRodgers
2,21939,QB,Andrew,Luck,14.6,2,9000,IND@TEN,IND,TEN,NaN,NaN,NaN,NaN,AndrewLuck
3,14190,WR,Julio,Jones,25.3,2,9000,ATL@DAL,ATL,DAL,P,Hamstring,NaN,NaN,JulioJones
4,6703,RB,Adrian,Peterson,12.5,2,8900,SD@MIN,MIN,SD,NaN,NaN,NaN,NaN,AdrianPeterson

In [6]:
FD_salaries = FD_salaries[['Name', 'Salary', 'Position']]

In [7]:
positions = ['QB', 'RB', 'WR', 'TE']
position_salaries = [FD_salaries[FD_salaries.Position == pos] for pos in positions]

In [8]:
position_salaries[0]
for i,pos in enumerate(positions):
    position_salaries[i].to_csv('../salaries/by_position/' + pos + '_W3_2015.csv')