In [1]:
%reload_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import re
import sys
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 250

In [2]:
sys.path.append('../')
import read_player_stats
import training_data
import game_by_game

In [14]:
FD_salaries = pd.read_csv('../salaries/FD/FanDuel-NFL-2015-09-20-13004-players-list.csv')

In [15]:
FD_salaries['Name'] = FD_salaries['First Name'] + FD_salaries['Last Name']
FD_salaries['Name'] = FD_salaries['Name'].str.replace('[^a-z]', '',flags=re.IGNORECASE)
FD_salaries.head()

,Id,Position,First Name,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Unnamed: 12,Unnamed: 13,Name
0,6894,QB,Aaron,Rodgers,23.1,1,9300,SEA@GB,GB,SEA,NaN,NaN,NaN,NaN,AaronRodgers
1,11612,WR,Antonio,Brown,23.8,1,9200,SF@PIT,PIT,SF,NaN,NaN,NaN,NaN,AntonioBrown
2,6703,RB,Adrian,Peterson,6.7,1,9000,DET@MIN,MIN,DET,NaN,NaN,NaN,NaN,AdrianPeterson
3,6504,QB,Drew,Brees,17.5,1,8900,TB@NO,NO,TB,NaN,NaN,NaN,NaN,DrewBrees
4,6899,RB,Matt,Forte,25.1,1,8900,ARI@CHI,CHI,ARI,NaN,NaN,NaN,NaN,MattForte

In [16]:
FD_salaries = FD_salaries[['Name', 'Salary', 'Position']]

In [17]:
positions = ['QB', 'RB', 'WR', 'TE']
position_salaries = [FD_salaries[FD_salaries.Position == pos] for pos in positions]

In [21]:
position_salaries[0]
for i,pos in enumerate(positions):
    position_salaries[i].to_csv('../salaries/by_position/' + pos + '_W2_2015.csv')