#TE

In [10]:
te_table

,Name,2015 Projection,Value Above Baseline,Group,Bye,MFL,FFC,RTS,Fantrax
0,JimmyGraham,15.046483,6.460160,0,9,32,33,29,25
1,RobGronkowski,14.061922,5.475598,0,4,6,14,8,11
2,GregOlsen,12.514160,3.927837,0,5,61,51,54,61
3,MartellusBennett,11.457613,2.871289,0,7,77,67,68,62
4,JuliusThomas,11.352958,2.766635,0,8,88,89,103,65
5,AntonioGates,11.294143,2.707819,0,10,132,146,143,161
6,DelanieWalker,11.087186,2.500863,0,4,119,115,111,124
7,JasonWitten,10.488086,1.901763,0,6,118,100,110,76
8,CobyFleener,9.702871,1.116548,0,10,162,NaN,125,134
9,CharlesClay,9.281677,0.695353,0,8,176,NaN,206,208
10,HeathMiller,8.924242,0.337919,0,11,171,NaN,200,235
11,JordanCameron,8.586323,0.000000,0,5,101,80,98,92
12,ZachErtz,8.531043,-0.055280,1,8,95,133,93,117
13,JaredCook,8.271694,-0.314630,0,6,232,NaN,270,202
14,OwenDaniels,7.913694,-0.672629,1,7,146,95,142,180
15,JordanReed,7.877010,-0.709314,1,8,174,NaN,181,197
16,VernonDavis,7.519593,-1.066731,1,10,168,170,138,217
17,JermaineGresham,7.519014,-1.067310,1,9,NaN,NaN,318,NaN
18,DwayneAllen,7.275882,-1.310442,1,10,136,163,165,128
19,MychalRivera,7.141000,-1.445324,1,6,245,NaN,216,356
20,ScottChandler,6.738782,-1.847542,1,4,NaN,NaN,280,355
21,KyleRudolph,6.543062,-2.043262,1,5,135,127,128,179
22,DennisPitta,6.109210,-2.477113,2,9,NaN,NaN,NaN,353
23,MarcedesLewis,5.836837,-2.749487,1,8,NaN,NaN,NaN,404
24,GarrettGraham,5.812590,-2.773734,1,9,NaN,NaN,330,359
25,BrentCelek,5.685861,-2.900463,1,8,NaN,NaN,NaN,349
26,LukeWillson,5.520258,-3.066065,1,9,NaN,NaN,NaN,354
27,AndrewQuarless,5.251488,-3.334836,1,7,NaN,NaN,NaN,290
28,LanceKendricks,5.189488,-3.396835,1,6,NaN,NaN,NaN,358
29,AnthonyFasano,5.160651,-3.425672,1,4,NaN,NaN,NaN,400
30,JeffCumberland,4.979963,-3.606360,1,5,NaN,NaN,NaN,308
31,BrandonMyers,4.869725,-3.716598,1,6,NaN,NaN,NaN,361
32,LadariusGreen,4.797167,-3.789157,2,10,173,NaN,212,152
33,DionSims,4.772246,-3.814077,2,5,NaN,NaN,NaN,408
34,TylerEifert,4.609827,-3.976496,2,7,123,108,124,156
35,JamesCasey,4.594809,-3.991515,2,7,NaN,NaN,NaN,405
36,LevineToilolo,4.262020,-4.324303,2,10,NaN,NaN,NaN,395
37,GavinEscobar,4.092994,-4.493329,2,6,NaN,NaN,NaN,339
38,JacobTamme,3.613192,-4.973131,2,10,NaN,NaN,311,307
39,BrandonPettigrew,3.582699,-5.003625,2,9,NaN,NaN,NaN,360
40,VirgilGreen,3.497142,-5.089182,2,7,235,NaN,235,326